<div ng-controller="DirectoryController">

  <ul class="b-nav-ul">
    <!--Дочерний элемент знает о своих родителях, хотя в идеале, хотя обычно, в приложениях, я стараюсь, чтобы модули как можно меньше знали друг о друге-->
    <li class="b-nav-li" ng-repeat="item in parent">
      <a ui-sref="{{item.link}}">{{item.name}}</a>
    </li>
  </ul>

  <h1 class="b-directories-list-header">Типы ошибок</h1>
  <button class="b-button b-button--light-green">+ Создать новый</button>

  <div class="b-directory-box">
    <div class="b-d-box-left">

      <!-- Имитация таблицы блоками сделана в расчете на мобильную версию, поскольку таблицы
      в мобильной версии лучше представлять иначе, нежели на десктопе. С блоками в дальнейшем работать проще-->
      <div class="b-d-box-table--no-bg">
        <div class="b-d-box-table">
          <div class="b-d-box-table-row">
            <div class="b-d-box-table-col b-d-box-table-col--th b-d-box-table-col-fist">Наименование</div>
            <div class="b-d-box-table-col b-d-box-table-col--th b-d-box-table-col-second">Тяжесть</div>
            <div class="b-d-box-table-col b-d-box-table-col--th b-d-box-table-col-third">Балл</div>
            <div class="b-d-box-table-col b-d-box-table-col--th b-d-box-table-col-fourth">Действует до</div>
          </div>
        </div>
      </div>
      <div class="b-d-box-table-bg">
        <div class="b-d-box-table">
          <div class="b-d-box-table-row" ng-repeat="item in dirDate.response.directory.items | filter:search">
            <div class="b-d-box-table-col b-d-box-table-col--td b-d-box-table-col-fist"><a href="" ui-sref="entry">{{item.name}}</a></div>
            <div class="b-d-box-table-col b-d-box-table-col--td b-d-box-table-col-second">{{item.weight}}</div>
            <div class="b-d-box-table-col b-d-box-table-col--td b-d-box-table-col-third">{{item.point}}</div>
            <div class="b-d-box-table-col b-d-box-table-col--td b-d-box-table-col-fourth">{{item.endDate}}</div>
          </div>
        </div>
      </div>
    </div><!-- Данный коментарий нужен, поскольку блоки я объединил через inline-block
    --><div class="b-d-box-right">
    <div class="b-d-box-r-filter">
      <span class="b-d-box-r-filter__span">Фильтр</span>

      <div class="b-d-box-r-filter-bord">

        <input class="b-d-box-r-filter-bord-input" placeholder="Поиск" ng-model="search" type="text"/>
      </div>
    </div>

  </div>
  </div>
</div>
