h1.b-directories-list-header {
  font-size: 1.7rem;
}

.b-directories-list-link {
  font-size: .7rem;
  line-height: 1.8rem;
}
.b-nav-ul{
  margin: 0;
  padding: 0;
}

.b-nav-li{
  display: inline-block;
}
.b-nav-li:after{
  content: '→';
  display: inline-block;
}
.b-d-box-left {
  display: inline-block;
  width: 67%;
  vertical-align: top;
  margin-right: 5%;
}

.b-d-box-table {
  border-collapse: collapse;
  display: table;
  width: 100%;
}

.b-d-box-table-row {
  display: table-row;
  width: 100%;
}

.b-d-box-table-col {
  display: table-cell;
}

.b-d-box-table-col--th {
  font-size: 0.75rem;
}

.b-d-box-table-col--td {
  padding: 17px 0;
  font-size: .73rem;
}

.b-d-box-table-col-fist {
  width: 34%;
}

.b-d-box-table-col-second {
  width: 12%;
}

.b-d-box-table-col-third {
  width: 10%;
}

.b-d-box-table-col-fourth {
  width: 18%;
}

.b-d-box-table-bg {
  background: #fff;
  border-radius: 10px;
  padding: 0 3%;
  box-shadow: 5px 5px 10px #cccccc;
}

.b-d-box-table--no-bg {
  padding: 10px 3%;
}

.b-d-box-right {
  display: inline-block;
  width: 28%;
  vertical-align: top;
}

.b-d-box-r-filter__span {
  font-size: .73rem;
  padding: 0 15px;
  display: block;
  margin: 10px 0;
}
.b-d-box-r-filter-bord{
  border: 1px solid #cccccc;
  padding: 20px 15px;
  min-height: 53px;
  border-radius: 7px;
}
.b-d-box-r-filter-bord-input{
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 3px;
}
