/* Do not remove the comments below. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */
// bower:scss
// endbower

@import url(https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic,cyrillic-ext);

body{
  font-family: 'Roboto', sans-serif;
  background: #eaf5ee;
}

.b-wrapper{
  width: 100%;
  max-width: 740px;
  margin: 0 auto;
}

.b-button{
  background: #fff;
  border: 0;
  border-radius: 5px;
  padding: 10px 15px;
  box-shadow: 1px 1px 1px  grey;
  cursor: pointer;
  transition-duration: .1s;
  margin: 0 20px 10px 0;
}
.b-button:hover{
  box-shadow: 2px 2px 2px  grey;
}
.b-button--light-green{
  background: -moz-linear-gradient(top,  #9dffb3 0%, #72d689 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dffb3), color-stop(100%,#72d689)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #9dffb3 0%,#72d689 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #9dffb3 0%,#72d689 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #9dffb3 0%,#72d689 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #9dffb3 0%,#72d689 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dffb3', endColorstr='#72d689',GradientType=0 ); /* IE6-9 */
}
.b-button--grey{
  background: -moz-linear-gradient(top,  #ffffff 0%, #d3d3d3 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d3d3d3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#d3d3d3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#d3d3d3 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#d3d3d3 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#d3d3d3 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d3d3d3',GradientType=0 ); /* IE6-9 */
}


//////////////////////////////////////
// Стили отвечающие за адптивность
/////////////////////////////////////

/* Do not remove the comments below. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector
