h1.b-directories-list-header {
  font-size: 1.7rem;
}

.b-directories-list-link {
  font-size: .7rem;
  line-height: 1.8rem;
}
.b-nav-ul{
  margin: 0;
  padding: 0;
}

.b-nav-li{
  display: inline-block;
}
.b-nav-li:after{
  content: '→';
  display: inline-block;
}
.b-entry-box-row{
  margin-bottom: 10px;
}
.b-entry-box-left-col{
  display: inline-block;
  vertical-align: top;
  width: 30%;
}

.b-entry-box-right-col{
  display: inline-block;
  vertical-align: top;
  width: 30%;
}
.b-entry-box-right-col input{
  width: 100%;
}
