<div ng-controller="EntryController">

  <ul class="b-nav-ul">
    <!--Конкретно для этого случая я не использовал данные из файла, поскольку они немного не корректны, там есть только один уроверь, ссылки на корневой стейт в json файле нет-->
    <li class="b-nav-li" ng-repeat="item in parent">
      <a ui-sref="{{item.link}}">{{item.name}}</a>
    </li>
  </ul>

  <h1 class="b-directories-list-header">Грамматическая ошибка</h1>

  <div class="b-entry-box">
    <div class="b-entry-box-row" ng-repeat="item in entryDate.response.entry.items">
      <div class="b-entry-box-left-col">
        {{item.name}}
      </div>
      <div class="b-entry-box-right-col">
        <input ng-model="item.value" type="{{item.type}}" ng-if="item.type != 'SELECT' && item.type != 'TEXTAREA'">
        <textarea cols="30" rows="10" ng-if="item.type == 'TEXTAREA'"></textarea>
        <select ng-if="item.type == 'SELECT'"
                ng-model="select"
                ng-options="opt.id as opt.name  for opt in item.values"
        ></select>
      </div>
    </div>
  </div>
  <br/>
  <br/>
  <button class="b-button b-button--light-green">Сохранить</button>
  <button class="b-button b-button--grey">Отменить изменения</button>
  <button class="b-button b-button--grey">Удалить</button>

</div>
