<div ng-controller="DirectoriesController">
  <h1 class="b-directories-list-header">Справочники</h1>
  <a class="b-directories-list-link" ui-sref="directory" ng-repeat="item in dirDate.response.directories track by item.id">{{item.name}} <br></a>
</div>
